#sample names
sample: SRR8095664
sample: SRR2094564
sample: SRR11473339
sample: SRR11473337

# ABySS configuration 
# specify k value as: start end step
k: 50 65 5
# specify paths to read files
read: /srv/scratch/z3452659/BINF6112-Sep20/TeamSupertrees/test_data/SRR8095664_1.fastq
read: /srv/scratch/z3452659/BINF6112-Sep20/TeamSupertrees/test_data/SRR8095664_2.fastq
read: /srv/scratch/z3452659/BINF6112-Sep20/TeamSupertrees/test_data/SRR2094564_1.fastq
read: /srv/scratch/z3452659/BINF6112-Sep20/TeamSupertrees/test_data/SRR2094564_2.fastq
read: /srv/scratch/z3452659/BINF6112-Sep20/TeamSupertrees/test_data/SRR11473339_1.fastq
read: /srv/scratch/z3452659/BINF6112-Sep20/TeamSupertrees/test_data/SRR11473339_2.fastq
read: /srv/scratch/z3452659/BINF6112-Sep20/TeamSupertrees/test_data/SRR11473337_1.fastq
read: /srv/scratch/z3452659/BINF6112-Sep20/TeamSupertrees/test_data/SRR11473337_2.fastq


# BUSCO configuration
# leave AUGUSTUS_CONFIG blank if lineage is not eukaryota
AUGUSTUS_CONFIG: 
BUSCO_CONFIG: /srv/scratch/z3452659/BINF6112-Sep20/TeamSupertrees/code/BUSCO.config.ini
# busco lineage file
# if not sure what files are available or not sure what to use, just specify one of the following 
# (need to match sample organism type, ie don't choose eukaryota if sample is from E.coli)
# [bacteria|archaea|eukaryota]_odb10
lineage: /srv/scratch/z3452659/BINF6112-Sep20/TeamSupertrees/code/busco_downloads/lineages/bacteria_odb10

